<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    body { background:#000000; color:#00ff04; font-family:'Times New Roman', Times, serif; text-align:center; margin-top:80px;font: 1em serif; }
    input,button { font-size:18px; padding:10px; border-radius:8px; border:none; }
    input { background:#000; color:#00ff04; border:1px solid #00ff04; width:220px; }
    button { background:#000; color:#00ff04;border:1px solid #00ff04; cursor:grab;}
    a {color:#e8ecea; text-decoration:none; }
  </style>
</head>
<body>
    <title>{{title}}</title>
    <h1>{{text}}</h1>
    <form method="post" action="T2TOS/login/done">
      <input name="user" placeholder="Username">
      <br>
      <br>
      <input name="pass" placeholder="Password">
      <br>
      <br>
      <button>Done</button>
    </form>
<body>
